_ReSharper.*
*.user
*.suo
bin
obj
*.cache
_cache
wraps/*.wrap
packages/*
!packages/repositories.config
App_Data
*.nupkg
/Release
/.vs
/Sources/SymbolSource.Gateway.NuGet.Core/app.config
/Sources/SymbolSource.Gateway.NuGet.Core/app.config
