<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="automatic" value="False" />
	</packageRestore>
	<packageSources>
		<clear />
        <add key="Local Proxy of NuGet.org" value="http://cst-upser:8181/nuget/DefaultV2" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"  />
	</activePackageSource>
</configuration>